/* app css stylesheet */

body {
    background-color: #ffffff;
}


.veterans-unit {
    background-color: #fff;
}

.float-left {
    float: left;
}

.showBorderRed {
    border: 1px solid red;
}

.showBorderBlue {
    border: 1px solid blue;
}
.showBgRed {
    background-color: red;
}

.showBgBlue {
    background-color: blue;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

// sidebar related
.veterans-sidebar {
    background-color: #fff;
}

.veterans-sidebar .accordion-heading {
    background-color: #379f15; 
}

.veterans-sidebar .accordion-heading a {
    color: #fff;
}

.veterans-sidebar .nav-list > li > a:hover {
    color: #fff;
    background-color: #379f15; 
}

em.red{color:red;}
span.blue{color:blue;}
.breadcrumb{background-color":"#f9f9f9";}
.r-form{border-left: 3px solid #ccc;padding-left: 17px;}

.pagination{margin-top: 0px;}
.pagination .span3, .pagination .span6{height: 75px;line-height: 75px;}
.pagination input{margin-top:9px;width:40px;}

.veterans-sidebar .accordion-inner{padding-right: 0px;}
.table-td-no-padding td{padding: 2px;}
